name: Cache Workflow

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-1432208

      - name: prime-cache-1432208
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
